<div class="content container">
    <div class="row">
        <div class="">
            <h2 class="page-title col-md-6">All Repositories</h2>
            <div class="input-group col-md-6" ng-controller="WorkspaceCtrl">
                <input ng-model="repositoryUrl" ng-required="true" type="text" class="form-control" placeholder="http://repository.url/folder" value="">
                <span class="input-group-btn">
                    <button class="btn btn-info"  data-toggle="tooltip" data-placement="top" data-original-title="Tooltip on left" type="button" ng-click="addRepository()"><i class="fa fa-plus"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="" ng-controller="WorkspaceCtrl">
                <div class="body no-margin">
                    <div class="row">
                        <ul class="folder-list">
                            <li class="col-sm-3" ng-repeat="file in files">
                                <div class="folder-tile widget" ng-click="browseRepository()">   
                                   <div class="content">   <i class="fa fa-folder"/>  </div>
                                        <h6 class="title">{{file}}</h6>
                                </div>
                                
                                <!--  <button class="btn btn-mini" ng-class="{'btn-info': !slide.active, 'btn-success': slide.active}" ng-disabled="slide.active" ng-click="slide.active = true">select</button>
                                {{$index}}: {{slide.text}} -->
                            </li>
                        </ul>
                    </div>

                </div>
            </section>
        </div>
       <!--  <div class="col-sm-4">


            <section class="widget">
                <header>
                    <h4>

                        Feed
                    </h4>
                </header>
                <div class="body">
                    Some Feeds about files, sync status, files size...
                </div>
            </section>
        </div>
 -->    </div>
</div>
